@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

:root {
  --sucess-color: rgb(0, 0, 0);
  --error-color: rgb(153, 5, 49);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--sucess-color);
  background-color: var(--sucess-color);
  background-color: var(--sucess-color);
  background-image: url("https://transparenttextures.com/patterns/black-thread.png");
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

label {
  font-weight: bold;
}

.container {
  background-color: rgb(226, 223, 220);
  border-radius: 5px;
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

form {
  padding: 40px 40px;
  background-image: url("https://transparenttextures.com/patterns/black-thread.png");
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: var(--sucess-color);
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 1px solid var(--sucess-color);
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: var(--sucess-color);
  background-color: var(--sucess-color);
  color: #fff;
}

.form-control.success input {
  color: #fff;
  background-color: var(--sucess-color);
}

.form-control.error input {
  background-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: -7px;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: cell;
  background-color: #000;
  background-image: url("https://transparenttextures.com/patterns/black-thread.png");
  color: aliceblue;
  border: 1 px solid #fff;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
